* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Just Another Hand', cursive;
}

i {
  pointer-events: none;
}

body {
  background: url("/src/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: black;
  font-size: 5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

form input, form button {
  border: none;
  padding: 0.25rem 1rem;
  font-size: 1.75rem;
  margin: 0.15rem;
  border-radius: 4px;
}

form input[type="number"] {
  width: 100px;
  text-align: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: #f8f9fa;
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div.todo {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

section p {
  background-color: white;
  color: black;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border-radius: 4px;
  margin: 0.1rem;
}

section p.todo-text {
  width: 50%;
}

section p.todo-time {
  width: 20%;
  text-align: center;
}

section button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

section button.complete {
  background-color: lightcoral;
}

section button.trash {
  background-color: lightgreen;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

div.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0rem;
}

div.sort button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
/*# sourceMappingURL=style.css.map */